html {
  font-family: Source Sans Pro;
  margin: 0;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.banner {
  background: #333;
  color: white;
  margin: 0;
  justify-content: center;
}

.logo {
  margin-top: 1%;
  width: 100%;
}

.banner img {
  max-height: 75px;
  align-items: center;
}

.banner ul, li, a {
  display: inline;
  text-decoration: none;
  list-style: none;
  color: #d1cfcc;
}

.conference {
  width: 100%;
  background-image: url(skyline.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  text-align: center;
}

.conference-logo img {
  max-height: 100px;
}

.conference-info {
  width: 30%;
}

.main {
  text-align: center;
  margin: 5% 12%;
}

.main h2:last-of-type {
  background-color: #eaf5e9;
  opacity:
}
